.section-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
  
.section-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    object-fit: contain;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%; 
        max-width: 300px; 
    }
}
