.navbar {
    display: flex;
    justify-content: space-between;
}

.navlinks-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.nav-title {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.navlink {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-title {
        font-size: 18px;
    }

    .navlink {
        font-size: 12px;
    }
}

